---
import { Image } from 'astro:assets';

const { posts, level, title } = Astro.props;
---

<div class="container mx-auto p-10 text-center">
    <div class="text-2xl font-bold pb-10">
        { level === 1 ? <h1>{title}</h1> : <h2>{title}</h2> }
    </div>
    <ul class="grid gap-10 md:grid-cols-2 xl:grid-cols-3">
        { posts.map((post) => (
        <li class="hover:scale-105 transition-all duration-300">
            <a href={`/blog/${post.id}/`}>
                {post.data.heroImage && (
                    <Image class="rounded-t-2xl" loading="lazy" width={800} height={400} src={post.data.heroImage} alt={post.data.title} />
                )}
                <div style="background-color:rgba(0,0,0,0.8);" class="p-5 rounded-b-2xl">
                    <div class="text-xl font-bold">{ level === 1 ? <h2>{post.data.title}</h2> : <h3>{post.data.title}</h3> }</div>
                    <div class="text-gray-400 pt-5">{post.data.description}</div>
                </div>
            </a>
        </li>
        )) }
    </ul>
</div>
